html {
  height: 100%;
  min-width: 980px;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;

  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  height: 80px;
  margin: 0;

  -moz-box-shadow:    0 0 4px rgba(0,53,69,0.25);
  -webkit-box-shadow: 0 0 4px rgba(0,53,69,0.25);
  box-shadow:         0 0 4px rgba(0,53,69,0.25);
  background: #000338;
}

.header-content {
  position: relative;
  height: auto;
}

#heading {
  display: inline-block;
  text-decoration: none;
  padding-left: 50px;
  cursor: default;
  position: relative;
  height: 40px;
  top: 21px;
  vertical-align: middle;
  padding-top: 0;
}

#simpleLogo {
  display: inline-block;
  position: relative;
  float: left;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 7.7px;
  overflow: hidden;
	background: url("altLogo.png") no-repeat;
  background-size: contain;
  cursor: default;
}

#simpleLogo span {
  display: inline-block;
  position: absolute;
  height: 40px;
  width: 40px;
  vertical-align: middle;
	background: url("sheen.png") 0px 0px no-repeat;
	transition-property: all;
	transition-duration: .5s;
  cursor: default;
}
#simpleLogo:hover span {
  background-position: -80px -80px;
}

#title {
  float: left;
  margin-left: 15px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  line-height: 33px;
  vertical-align: middle;
  font-weight: 600;
  font-size: 38px;
}

#title-suffix {
  font-weight: 300;
}

.heading-text {
  font-family: 'Microsoft Yi Baiti','Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  color: #2c3e50;
}

.heading-subtext-bolder {
  font-family: 'Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}
.heading-subtext {
  font-family: 'Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.heading-text-small {
  font-family: 'Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.25em;
  line-height: 40px;
  font-weight: normal;
  color: #2c3e50;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  padding: 0;
  float: right;
  line-height: 36px;
  height: 80px;
  font-weight: 300;
}

#nav li {
  display: inline-block;
  list-style: none;
}

#nav li a {
    font-family: 'Microsoft Yi Baiti','Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    line-height: 36px;
    -webkit-transition: border .25s ease-out;
    -moz-transition: border .25s ease-out;
    -o-transition: border .25s ease-out;
    transition: border .25s ease-out;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 19px;
    width: 100px
}

#nav-search {
  display: block;
  height: 60.9px;
  text-align: center;
}

#nav-about {
  display: block;
  height: 60.9px;
  text-align: center;
}

#nav-contact {
  display: block;
  height: 60.9px;
  text-align: center;
}

.active-link {
  border-color: #00CCFF !important;
}

.first-divider {
  position: relative;
  height: 45px;
  width: 100%;
  background-color: #007A9F;
  margin-left: auto;
  margin-right: auto;
  bottom: 16px;
}

.first-divider-text {
  font-family: 'Microsoft Yi Baiti','Lato', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2.3em;
  line-height: 40px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  top: 39%;
  transform: translateY(-50%);
  margin: 0;
  cursor: default;
}

#map-container {
  position: relative;
  height: 550px;
  width: 100%;
  margin-top: -16px;
}

#map-background {
  width: 100%;
  min-width: 980px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -10;
  height: 550px;;

}

#map {
  height: 100%;
  width: 100%;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#map path:hover {
  fill: #008FBA;
}

#map .active-state {
  fill: #008FBA;
}

#null {
  margin: 0;
}

.page-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0,53,69,0.5);
  margin-left: auto;
  margin-right: auto;
}

.divider-inside {
  height: 1px;
  width: 80%;
  background-color: #007A9F;
  margin-left: auto;
  margin-right: auto;
}

#results-container {
  height: 550px;
  margin-left: 15px;
  margin-right: 15px;
}

#advanced-search #arrow {
  display:inline-block;
  font-size: 1.05em;
  line-height: 26px;
  vertical-align: bottom;
  -webkit-text-shadow: 0px 0px 0px black, 1px 0px 0px black;
  -moz-text-shadow: 0px 0px 0px black, 1px 0px 0px black;
  text-shadow: 0px 0px 0px black, 1px 0px 0px black;
}

form {
  height: 11.5px;
  padding-bottom: 5px;
}

#choose-state {
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#choose-category {
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

form input {
  vertical-align: middle;
  height: 11.5px;
  font-size: 14px;
}

#about {
  height: #team;

  -moz-box-shadow:    0 0 4px rgba(0,53,69,0.25);
  -webkit-box-shadow: 0 0 4px rgba(0,53,69,0.25);
  box-shadow:         0 0 4px rgba(0,53,69,0.25);
}

#about h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 28px;
  margin-left: 60px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#about p {
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 60px;
  color: #233140;
  font-size: 1.4em;
}

#team {
  line-height: 30px;
  height: 170px;
  margin-top: 25px;
  margin-bottom: 0;
}

.semi-bold {
  font-weight: 600;
}

#footer-container {
  position: relative;
  display:inline-block;
  height: 30px;
  width: 100%;
  background-color: #F2F2F2;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

footer {
  margin-left: 60px;
  margin-top: 7px;
  vertical-align: middle;
}

#admin-login {
  float: right;
  margin-right: 60px;
  color: #000;
  text-decoration: none;
}

#recent-laws {
  width: calc(47.5% - 40px);
  height: 420px;

  float: left;
  margin: 0;
  overflow-y: scroll;
}

#recent-laws::-webkit-scrollbar {
    display: none;
}

#result-details {
  width: 47.5%;
  height: 420px;
  float: left;
  overflow-y: scroll;
}

#results-container h3 {
  margin-bottom: 10px;
  margin-left: 45px;
}

#filters {
  margin-bottom: 30px;
  margin-left: 45px;
}

#results-divider {
  width: 5%;
  height: 420px;
  float: left;
}

#results-divider-line {
  width: 2px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,53,69,0.25);
}

#result-details p {
  margin-top: 0;
}

.selected-result {
  background: rgba(0,143,186,0.25);
}

strong {
  color: #008FBA;
}

.team-desc {
  font-size: 1.2rem;
}


/* FADEIN */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
